body {
  margin: auto;
  height: 100vh;
  width: 100vw;
}

.title-div {
  margin: 20px 0 0 0;
  padding: 30px;
  background-color: #3AAFA5;
}

.input-div {
  margin: 100px 0 200px 0;
}

.app-input, .app-icon {
  margin-right: 30px;
}

.app-btn {
  background-color: #3AAFA5;
}